📅 Day 1 – Python Basics

Topics: Data types, variables, input/output

Task 1: Take user’s name and age, then print a greeting.

In [5]:
name=input("Enter the user name:--")
age=int(input("Enter the user age:--"))
print(f"Hello {name}.{age} year old guy.")

Enter the user name:-- Farhan
Enter the user age:-- 21

Hello Farhan.21 year old guy.

Task 2: Take two numbers from the user and print their sum.

In [11]:
num1=int(input("Enter teh number 1 :--"))
num2=int(input("Enter teh number 2 :--"))
sum=num1+num2
print("Sum is :",sum)

Enter teh number 1 :-- 23
Enter teh number 2 :-- 67

Sum is : 90

Task 3: Store your own name, age, and city in variables and print them in one line.

In [8]:
name="Farhan"
age=21
city="DGK"
print(f"Hello {name}.{age} year age.city is {city}")

Hello Farhan.21 year age.city is DGK

Assignment:

1.	Task:

Write a Python program to:

o	Declare two variables: name (string) and age (integer).

o	Print a sentence like: "My name is [name] and I am [age] years old."

o	Use the + operator to combine the string and variables.

o	Use f-strings to make the print statement cleaner.

2.	Task:

Perform the following calculations and print the results:

o	Calculate the sum, difference, product, and quotient of two numbers (choose any numbers).

o	Display the results in a readable format using print statements.

In [19]:
# Task 1
name="Farhan" # Declare two variables: name (string) and age (integer).
age=21
print(f"my name is {name} abd iam {age} year old.")# Print a sentence like: "My name is [name] and I am [age] years old."

combine=name+str(age) # Use the + operator to combine the string and variables.
print(f"combine the String and variable :{combine} ")

my name is Farhan abd iam 21 year old.
combine the String and variable :Farhan21

In [22]:
# Task 2
 # Calculate the sum, difference, product, and quotient of two numbers (choose any numbers).
num1=23
num2= 67
sum=num1+num2  # sum
difference=num1-num2  # difference
product= num1*num2   # product
quotient=num1/num2  # quotient

# Display the results in a readable format using print statements.

print(f"sum is: {sum}. \n difference is : {difference}.\n product is : {product}.\n quotient is : {quotient}")

sum is: 90.
 difference is : -44.
 product is : 1541.
 quotient is : 0.34328358208955223

📅 Day 2 – Control Flow

Topics: If/Else, Loops, Logical Operators

1.	Check if a number is positive, negative, or zero

In [13]:
num=eval(input("Enter the number:--"))
if num>0:
 print("Positive")
if num==0:
 print("Zero")
if num<0:
 print("Negative")

Enter the number:-- 2

Positive

2.	Print all even numbers from 1 to 20 using for loop

In [1]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

3.	Take 3 numbers as input and print the largest using if/else

In [18]:
a=eval(input("Enter the number 1:--"))
b=eval(input("Enter the number 2:--"))
c=eval(input("Enter the number 3:--"))

if a>b and a>c:
    print("a")
elif b>a and b>c:
    print("b")
else:
    print("c")

Enter the number 1:-- 34
Enter the number 2:-- 5
Enter the number 3:-- 22

a

4.	Use while loop to print factorial of a number

In [24]:

fact=1
i=1
n=5
while i<=n:
    fact*=i
    i+=1 
print("the factorial is =",fact)

the factorial is = 120

Task 5: Take age and city from the user, and print “Eligible” if age ≥ 18 and city is "Karachi".

In [9]:
age=eval(input("Enter the user age:--"))
city=input("Enter the user city:--")
if age >= 18 and city == "Karachi":
    print("Eligible")
else:
    print("Not Eligible")

Enter the user age:-- 20
Enter the user city:-- kot adu

Not eligible

 Task 6: Print all even numbers between 1 and 20 using a while loop.

In [2]:
n=2
while n<=20:
    print(n)
    n+=2

2
4
6
8
10
12
14
16
18
20

 Task 6. Combine if + while to ask user until they enter a valid age (>=0)

In [37]:
age = int(input("Enter the age : "))

while age<0:
    print("Invalid age . age cannot be negative.")
    age = int(input("Enter the valid age (>=0):" ))
    print("Than you! Your age is : ",age)

Enter the age :  -7

Invalid age . age cannot be negative.

Enter the valid age (>=0): 6

Than you! Your age is :  6


📅 Day 3 – Functions in Python

Topics: Defining, Calling, Arguments

Task 1: Make a function square(num) that returns the square of a number.

In [26]:
def squareNumber(a):
    square=a*a
    return square
squareNumber(4)

16

Task 2: Make a function is_even(num) that checks if a number is even or not.

In [34]:
def evenNumber(num):
    if num%2==0:
        print("Even Number")
    else:
        print("Not Even Number")
evenNumber()

Not Even Number

Task 3: Make a function calculate_area(radius) that returns the area of a circle.

In [36]:
def calculate_area(radius):
    areaOfCircle= 2*3.14*radius # pi=3.14
    print("Area of circle : ",areaOfCircle)
calculate_area(5)

Area of circle :  31.400000000000002

Task 4: Make a function full_name(first, last) that returns a full name.

In [4]:
def full_Name(first,last):
    name= first+last
    print("Full Name :",name)
full_Name("M", "Farhan")

Full Name : MFarhan

5.	Function max_of_three(a,b,c) to return largest number

In [6]:
def max_of_three(a,b,c):
    if a>b and a>c:
        print("a is maximum")
    elif b>a and b>c:
        print("b is maximum")
    else:
        print("c is maximum")
max_of_three(7,8,4)

b is maximum

6.	Function to calculate factorial

In [49]:
def calculate_Factorial(n):
 result=1
 for i in range (1,n+1):
  result*=i
 return result
print("the factorial is =",calculate_Factorial(5))

the factorial is = 120

7.	Function to greet user with name and age

In [51]:
def greetUser(name,age):
    print(f"welcome {name}.you are {age} year old.")
greetUser("Farhan",21)

welcome Farhan.you are 21 year old.

1.	Currency Converter Function

Function convert_to_usd(pkr_amount) jo PKR ko USD me convert kare (rate = 278 PKR per USD).

In [1]:
def convert_to_usd(pkr_amount):
    usd_value=pkr_amount/278
    print(usd_value,"$ usd")
convert_to_usd(4500)

16.18705035971223 $ usd

2.	Restaurant Bill Calculator

Function calculate_bill(amount, tip_percent) jo total bill (bill + tip) return kare.

In [6]:
def calculate_bill(amount, tip_percent):
    tip=amount*(tip_percent/100)
    total=amount+tip
    print("Total bill:",total)
calculate_bill(1000, 10)

Total bill: 1100.0

3.	Student Grade Calculator

Function get_grade(marks) jo marks ke base par grade return kare (A, B, C, Fail).

In [7]:
def get_grade(marks):
    if marks >80:
        return "A"
    elif marks >60:
        return "B"
    elif marks >40:
        return "C"
    else:
        return "Fail"
print("Grade :",get_grade(67))

Grade : B

4.	Delivery Fee Calculator

Function delivery_cost(distance_km) jo distance ke base par delivery charges calculate kare (10 PKR per km).

In [8]:
def delivery_cost(distance_km):
    return distance_km*10
print(" Total Delivery charges:",delivery_cost(70))

 Total Delivery charges: 700

5.	Discount Price Function

Function apply_discount(price, discount_percent) jo discount lagane ke baad final price return kare.

In [10]:
def apply_discount(price, discount_percent):
    discount=price*(discount_percent/100)
    return price-discount
print("Final price:",apply_discount(1200, 10))

Final price: 1080.0

📅 Day 4 – Lists & Tuples

Topics: Indexing, Slicing, Methods

1.	Grocery List Manager

List banaye jo grocery items store kare, user se ek item input lein, list me add karein.

In [106]:
list=[]
for i in range(1,6):
    n=input("Enter the number:")
    list.append(n)
print(list)

Enter the number: apple
Enter the number: mango
Enter the number: orango
Enter the number: potato
Enter the number: carrot

['apple', 'mango', 'orango', 'potato', 'carrot']

2.	Student Marks Analyzer

Marks ki list me highest aur lowest marks find karein.

In [22]:
marks=[56,78,90,88,67,49,99]
minValue=marks[0]
for a in marks:
    if a<minValue:
     minValue=a
print("Minimum marks:",minValue)

maxValue=marks[0]
for a in marks:
    if a>maxValue:
     maxValue=a
print("Maximum marks:",maxValue)

Minimum marks: 49
Maximum marks: 99

3.	Online Store Inventory

Product names list me store karein, remove/add/update karne ka option de.

In [2]:
def show_menu():
    print("\n--- Online Store Inventory ---")
    print("1. Show all products")
    print("2. Add a product")
    print("3. Remove a product")
    print("4. Update a product")
    print("5. Exit")

4.	Travel Plan

Tuple banaye cities ka, aur indexing/slicing se apni trip ka pehla aur aakhri city print karein.

In [47]:
city=("lahore","karachi","multan","DGK","Islamabad")
# indexing
print(city[0]) # first city
print(city[-1]) # last city

# slicing
print(city[0:1])
print(city[-1:12])

lahore
Islamabad
('lahore',)
('Islamabad',)

5.	Restaurant Menu Update

Tuple menu items ko list me convert karein, new item add karein, phir wapas tuple me convert karein.

In [53]:
menue=("chicken","shurwama","baryani","eggs","naan")
menue_list=list(menue) # convert the list
menue_list.append("takka boti") # add the items
menue=tuple(menue_list) # convert the tuple
menue

('chicken', 'shurwama', 'baryani', 'eggs', 'naan', 'takka boti')

Homework / Practice

1.	Create a list of 5 cities and print them

2.	Use indexing and slicing to print first 3 cities

3.	Add a city to the list, remove one city

4.	Convert a list to tuple

5.	Iterate over the list and print in uppercase

In [77]:
# 1.Create a list of 5 cities and print them
city=["lahore","multan","islamabad","karach","DGK"]
city

['lahore', 'multan', 'islamabad', 'karach', 'DGK']

In [88]:
# 2.Use indexing and slicing to print first 3 cities
print(city[0:3]) # slicing

print(city[1],city[2],city[3]) # indicing

['lahore', 'multan', 'karach']
multan karach DGK

In [101]:
# 3.Add a city to the list, remove one city
city=["lahore","multan","islamabad","karach","DGK"]
city.append("fasilabad")
print(city)
city.remove("islamabad")
city

['lahore', 'multan', 'islamabad', 'karach', 'DGK', 'fasilabad']

['lahore', 'multan', 'karach', 'DGK', 'fasilabad']

In [102]:
# 4.Convert a list to tuple
city_tuple=tuple(city) # convert the tuple
city_tuple

('lahore', 'multan', 'karach', 'DGK', 'fasilabad')

In [103]:
# 5.Iterate over the list and print in uppercase
for city in city:# iterate the lisy
    print(city.upper())

LAHORE
MULTAN
KARACH
DGK
FASILABAD

📅 Day 5 – Dictionaries & Sets

Topics: CRUD operations, loops

1.	Phonebook App

Dictionary banaye jo contacts store kare (name → number), user se contact search karne ka option de.

In [1]:
phonebook = {
    "Ali": "03001234567",
    "Sara": "03121234567",
    "Usman": "03331234567"
}

# Search contact
name = input("Enter name to search: ")

if name in phonebook:
    print(f"{name}'s number is {phonebook[name]}")
else:
    print("Contact not found.")

Enter name to search:  Ali

Ali's number is 03001234567

2.	Student Records System

Dictionary me multiple students ke name, age, aur marks store karein, phir sab ko loop karke print karein.

In [12]:
student={
    'student1':"Farhan",
    'student2':"ahsan",
    'student':"Ali",
    'age1':21,
    'age':23,
    'age3':21,
    'marks1':82,
    'marks2':67,
    'marks3':77,
}
for key,value in student.items():
    print(key,":",value)

student1 : Farhan
student2 : ahsan
student : Ali
age1 : 21
age : 23
age3 : 21
marks1 : 82
marks2 : 67
marks3 : 77

3.	Unique Visitors Tracker

Set ka use karke website visitors ke unique IP addresses store karein.

In [2]:
visitors = set()

# Add some visitors
visitors.add("192.168.1.1")
visitors.add("192.168.1.2")
visitors.add("192.168.1.1")  # Duplicate

print("Unique Visitors:", visitors)

Unique Visitors: {'192.168.1.1', '192.168.1.2'}

4. Shopping Cart (Dictionary + Calculation)

In [4]:
# Shopping Cart

cart = {
    "Shoes": 3000,
    "Shirt": 1500,
    "Watch": 2000
}

total = sum(cart.values())

print("Your Cart:", cart)
print("Total Bill:", total)

Your Cart: {'Shoes': 3000, 'Shirt': 1500, 'Watch': 2000}
Total Bill: 6500

5.	Friend List Manager

Do sets me friends list store karein, common friends aur different friends print karein.

In [5]:
my_friends = {"Ali", "Sara", "Usman"}
other_friends = {"Sara", "Ahmed", "Usman"}

# Common friends
common = my_friends.intersection(other_friends)

# Different friends
different = my_friends.symmetric_difference(other_friends)

print("Common Friends:", common)
print("Different Friends:", different)

Common Friends: {'Usman', 'Sara'}
Different Friends: {'Ali', 'Ahmed'}

✅ Homework / Practice

1.	Create a dictionary of 3 countries and capitals
2.	Update one capital, add a new country
3.	Create a set of 5 numbers and try adding duplicate
4.	Perform union & intersection of two sets
5.	Iterate dictionary and print keys and values

In [46]:
country={
    'pakistan':"islamabad",
    'america':"new york",
    'france':"paris"
}
country["new york"]="White house" # update
country["india"]="dheli" # add new country
for key,value in country.items():
    print(key,":",value)

pakistan : islamabad
america : new york
france : paris
new york : White house
india : dheli

3.	Create a set of 5 numbers and try adding duplicate
4.	Perform union & intersection of two sets

In [50]:
set={2,3,4,5,3}# set of 5 number and duplicate
print("set of 5 number and duplicate",set)
set1={2,3,4,5,9} 
set2={3,5,6,8,97,6}
print("Union of set:",set1.union(set2))# union of set
print("intersection of set:",set1.intersection(set2))

set of 5 number and duplicate {2, 3, 4, 5}
Union of set: {97, 2, 3, 4, 5, 6, 8, 9}
intersection of set: {3, 5}